doctype html
html
  head
    meta(charset="utf-8")
    title Electron Boilerplate
    link(href="./bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css")
    link(href="./stylesheets/main.css" rel="stylesheet" type="text/css")
    script(src="vendor/electron_boilerplate/context_menu.js")
    script(src="vendor/electron_boilerplate/external_links.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/dynamic-directive/dist/dynamic-directive.js")
    script(src="bower_components/ui-router/release/angular-ui-router.js")
    script(src="bower_components/angular-d10-rest/dist/angular-d10-rest.js")
    script(src="bower_components/angular-d10-session/dist/angular-d10-session.js")
    script(src="./bower_components/angular-material/angular-material.js")
    

    script(src="app.js")
  body(ng-app='d10')
    div(ui-view='')
