#main(layout="row")
  md-sidenav(md-component-id='left' md-is-locked-open="$mdMedia('gt-md')")
    md-toolbar
      h3 10er10
    md-content
      md-list
        md-list-item
          md-icon face
          span.list-item first choice
        md-divider
        md-list-item
          md-button
            md-icon face
            span Second choice
        md-divider
        md-list-item
          md-icon face
          span.list-item Second choice
  md-content()
    div Test content !
